.message {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .message.received {
    flex-direction: row;
  }
  
  .message.sent {
    flex-direction: row-reverse;
  }
  
  .avatar-message {
    margin-right: 8px;
  }
  
  .message-content {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
  }
  

  