/* .book-window {
  display: flex;
  height: 100vh;
  background: linear-gradient(to right, #e0f7fa, #bbdefb);
  padding: 16px;
  border-radius: 8px;
} */
.book-window {
  display: flex;
  height: 100vh;
  background-image: url("https://i.ibb.co/v471Jbbx/bgApp.png");
  background-size: cover; /* Để ảnh phủ toàn bộ background */
  background-position: center; /* Căn giữa ảnh */
  background-repeat: no-repeat; /* Không lặp lại ảnh */
  /* padding: 16px; */
  border-radius: 8px;
}

/* Sidebar */
.sidebar {
  flex: 3;
  background-image: url("https://i.ibb.co/v471Jbbx/bgApp.png");
  background-size: cover; /* Để ảnh phủ toàn bộ background */
  background-position: center; /* Căn giữa ảnh */
  background-repeat: no-repeat; /* Không lặp lại ảnh */
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  /* padding: 16px; */
  border-radius: 8px;
}
/* Search  */
.search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  /* border-radius: 30px; */
  /* background-color: white; */
  padding-bottom: 20px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 20px;
  margin-top: 20px;
}
.search input {
  border: none;
  outline: none;
  padding: 18px 12px;
  border-radius: 30px;
  height: 30px;
  width: 70%;
}

.search .button-icons-group .icons {
  width: 20px;
  height: 20px;
}
.search button {
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  margin: 0 2px;
}
.menu {
  width: 100%;
}

/* Menu item */
.menu .menu-item {
  display: flex;
  align-items: center;
  padding: 30px;
  border-radius: 4px;
  cursor: pointer;
  height: 30px;
}

/* Nội dung trong menu-item */
.menu .menu-item .icons {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.menu .menu-item span {
  font-size: 16px;
}
.menu .menu-item:hover,
.menu-item.active {
  background: linear-gradient(to right, #e0f7fa, #f9fcff);
  font-weight: 600;
}
/* Nội dung bên phải */
.content {
  flex: 7;
  background: white;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}
/* Nội dung bên phải header*/
.body {
  display: flex;
  flex-direction: column; /* Sắp xếp theo chiều dọc */
  height: 100vh; /* Chiều cao toàn màn hình */
  width: 100%;
}

.content-header {
  padding: 22px;
  border-bottom: 1px solid #f0f0f0;
  flex: 0 0 10%; /* Chiếm 20% chiều cao */
  display: flex;
  align-items: center;
}
.content-header .icons {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.content-body {
  flex: 1; /* Phần còn lại (80%) */
  background-image: url("https://i.ibb.co/v471Jbbx/bgApp.png");
  background-size: cover; /* Để ảnh phủ toàn bộ background */
  background-position: center; /* Căn giữa ảnh */
  background-repeat: no-repeat; /* Không lặp lại ảnh */
}
